body{
    background-color: #008EDF;        
}

h1{
    color: #0061C5;
    font-family: 'Tourney', cursive;
    margin-left: 20px;
    margin-top: 30px;
    box-shadow: 0px 0px 20px 20px white;
    border: white;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    background-color: white;
    display: inline-block;  
    border-radius: 20px;  
}


h1.topLink{
        
        font-family: 'Tourney', cursive;
        margin-right: 20%;
        box-shadow: 0px 0px 20px 20px #ffffff;
        border: white;
        border-style: solid;
        border-width: 1px;
        float: right;
        font-size: 24px;
        
    }

     h1.topLink a:hover{
color: black;
}





  
    img.kanye1{
        background-color: white;
        max-block-size: 200px;
        margin-left: 40px;
        margin-top: 60px;
        box-shadow: 0px 0px 20px 20px #ffffff;
        border: white;
        border-style: solid;
        border-width: 1px;
        /*https://snipstock.com/image/kanye-west-rapper-singer-png-images-7-95270*/
    }
    img.kanye2{
        background-color: white;
        height: 140px;
        width: 150px;
        margin-left: 70px;
        margin-top: 35px;
        box-shadow: 0px 0px 20px 20px #ffffff;
        border: white;
        border-style: solid;
        border-width: 1px;
    }

    img.kanye3{
        background-color: white;
        height: 100px;
        width: 150px;
        margin-left: 75px   ;
        margin-top: 35px;
        box-shadow: 0px 0px 20px 20px #ffffff;
        border: white;
        border-style: solid;
        border-width: 1px;
    }
    img.kanye4{
            background-color: white;
            height: 150px;
            width: 150px;
            margin-left: 65px;
            margin-top: 35px;
            box-shadow: 0px 0px 20px 20px #ffffff;
            border: white;
            border-style: solid;
            border-width: 1px;
    }
    p{
        background-color: white;
        color: #0061C5;
        margin-left: 25px;
        margin-top: 70px;
        box-shadow: 0px 0px 20px 20px #ffffff;
        border: white;
        border-style: solid;
        border-width: 1px; 
        display: inline-block;
        padding: 3px;
    }
    img.jesus{
        background-color: white;
        height: 200px;
        width: 200px;
        margin-left: 100px;
        margin-top: 50px;
        box-shadow: 0px 0px 20px 20px #ffffff;
        border: white;
        border-style: solid;
        border-width: 1px;
    }
    @media screen and (max-width: 1000px) {
        body {
          background-color: blue;
        }
      }
     
      img.world{
        background-color: white;
        height: 300px;
        width: 300px;
        margin-left: 500px;
        margin-bottom: 355px;
        box-shadow: 0px 0px 20px 20px #ffffff;
        border: white;
        border-style: solid;
        border-width: 1px;
      }

      img.yzy{
        background-color: white;
        height: 300px;
        width: 300px;
        margin-left: 90px;
        margin-bottom: 355px;
        box-shadow: 0px 0px 20px 20px #ffffff;
        border: white;
        border-style: solid;
        border-width: 1px;
      }