body{
    background-color: #008EDF;
   
        
}

h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    box-shadow: 0px 0px 40px 20px white;
    border: white;
    border-style: solid;
    border-width: 1px;
    width: 235px;
    
    
}
h1.donda{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 75%;
    box-shadow: 0px 0px 40px 20px #ffffff;
    border: white;
    border-style: solid;
    border-width: 1px;
    width: 100px;
    top: 100px;
    font-size: 24px;
    
}
